body, #bg-wrapper {
	background: none;
	background: linear-gradient(to bottom, red, yellow, orange, green, blue, purple);
	background: url("./flag.svg");
	background-repeat: no-repeat;
	background-size: auto 100vh;
}

@media only screen and (orientation: portrait) {
	body, #bg-wrapper {
		background-position: right;
	}
}

main, nav.top {
	background-color: rgba(0 0 0 / 35%);
}

#description {
	background: none!important;
}

#icon {
	padding: 2rem;
}

.container.my-5 {
	margin: 0 inherit!important;
	padding: 0 0 3rem!important;
}
